{
	"name": "@bazo/openapi-react-query-trpc",
	"version": "0.1.7",
	"bin": "bin.js",
	"dependencies": {
		"@rometools/js-api": "^0.3.0",
		"@rometools/wasm-nodejs": "^12.1.3",
		"ts-node": "^10.9.1"
	}
}
